<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>心语心愿</title>
<link th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet" 
	type="text/css" />
<link th:href="@{/static/css/bootstrap-table.min.css}" rel="stylesheet" 
	type="text/css" />
<link th:href="@{/static/css/jquery-ui.min.css}" rel="stylesheet" 
	type="text/css" />
<link th:href="@{/static/css/liucg.css}" rel="stylesheet" 
	type="text/css" />
<!--图标1，需要fonts文件夹中文件支持 引用 class='fa fa-user'-->
<link rel="stylesheet" th:href="@{/static/css/font-awesome.min.css}">
<!--图标2（图表类），需要fonts文件夹中文件支持 引用class='ti-volume'-->
<link rel="stylesheet" th:href="@{/static/css/themify-icons.css}">
<!--图标3，需要fonts文件夹中文件支持 引用class='pe-7s-eyedropper'-->
<link rel="stylesheet" th:href="@{/static/css/pe-icon-7-filled.css}">
<!--侧边栏菜单插件-->
<link rel="stylesheet" type="text/css" th:href="@{/static/css/sidebar-menu.css}">
<script type="text/javascript" th:src="@{/static/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/bootstrap-table.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/bootstrap-select.js}"></script>
<script type="text/javascript" th:src="@{/static/js/bootstrap-table-editable.js}"></script>
<script type="text/javascript" th:src="@{/static/js/locale/bootstrap-table-zh-CN.js}"></script>
<script type="text/javascript" th:src="@{/static/js/jquery-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/sidebar-menu.js}"></script>
<script type="text/javascript" th:src="@{/static/js/liucg.js}"></script>
<script type="text/javascript">
	$(function(){
		// 切换侧边栏
	    $("#bnt").click(toggleSidebar);
	    //侧边栏菜单伸缩
	    $.sidebarMenu($('.sidebar-menu'));
	    //tab初始化
	    init_tab('tabs','menu_iter','menu_name','id_table_init');
	    //操作类
	    handle_init();
	});
	/*表格初始花*/
	function id_table_init(){
		$("#table_user_list").bootstrapTable({
			url:"/user/list",
			method:'GET',//请求方式
			//contentType:'application/x-www-form-urlencoded', 缺失没有办法传递参数queryParams 传递page参数
			toolbar:'#tbs_user_list', //工具按钮用哪个容器
			striped:true,//是否显示行间隔色(默认false)
            cache:false,//是否使用缓存,默认为true,所以一般情况下需要设置此属性(*)
			striped:true,//是否显示行间隔色(默认false)
			cache:false,//是否使用缓存,默认为true,所以一般情况下需要设置此属性(*)
			pagination:true,//分页(*)
			sortable:true,//是否启用排序(要放在具体列)?
			sortOrder:'asc',//排序方式
			sidePagination:'server',
			pageNumber:1,//初始化从第一页开始
			pageSize:10,//初始页面大小
			pageList:[10,25,50,100],//可供选择的每页的行数(*)?
			search:false,//启用搜索
			strictSearch:true,
			showColumns:true,//是否显示所有的列(选择显示的列)
			showRefresh:true,//是否显示刷新按钮
			minimumCountColumns:2,//最少允许的列数
			clickToSeclect:true,//是否启用点击选中行?
			//height:500,//行高,如果没有设置height属性,表格自动根据记录条数设置表格高
			uniqueId:'id',//每一行的唯一标识,一般为主键列
			showToggle:true,//是否显示详细试图和列表试图的切换按钮
			cardView:false,//是否显示详细视图?
			detailView:false,//是否显示父子表(树形结构)
			responseHandler:function(res){
				return{
					"total":res.total,
					"rows":res.data
				}
			},
			
			columns:[
				{
					checkbox:true,
					visible:true//选择复选框
				},
				{
					title:'序号',
					align:'center',
					valign:'middle',
					formatter:function(value,row,index){
						return index+1;
					}
				},
				{
					title:'姓名',
					field:'name',
					//edit:true,
					//searchable:true,
					sortable:true,//是否启用排序
					sortOrder:'asc',//排序方式
					align:'center',
					valign:'middle'
				},
				{
					title:'帐号',
					field:'acc',
					align:'center',
					valign:'middle'
				},
				{
					title:'密码',
					field:'pwd',
					align:'center',
					valign:'middle'//,
					//formatter:dateFormatter
				},
				{
					title:'状态',
					field:'status',
					align:'center',
					valign:'middle'
				}
			],
			onLoadSuccess:function(){
				//加载成功后的代码位置
			},
			onDblClickRow:function(row,$element){//表格操作,双击事件
				var id=row.id;//注意要和pojo中属性大小写一致
				var name=row.name;
			}
		});
	}
	/*操作类初始化*/
	handle_init=function(){
		//1.tbs_user_list_add-1  打开新增页面
		handle_tbs_user_list_add();
		//2. mb_user_add-1 数据提交到数据库
		handle_mb_user_add();
		//3. 打开编辑选项款--数据填充
		handle_modal_user_edit();
		//4. 编辑后保存
		handle_mb_user_edit();
		//5. 删除--使用ajax
		handle_tbs_user_list_del();
	}
	// 1 打开新增页面
	handle_tbs_user_list_add=function(){
		$('#tbs_user_list_add-1').click(function(){
			$('#modal_user_add').modal('toggle');//打开页面
		});
	}
	// 2 保存用户数据
	handle_mb_user_add=function(){
			$('#mb_user_add-1').click(function(){
				var id='tabs-menu'+getTabID(this.id);//tabs-menu-1 用于提交后依旧是当前页面
				$.ajax({
					type:'post',
					dataType:'html',
					url:'/user/addUser_ajax',
					data:$('#mf_user_add').serialize(),
					success:function(data){//alert(data);
							// 隐藏modal
							$('#modal_user_add').modal('hide');
							//ajax成功后刷新
							var index=$("#tabs").find(id).index(); //获取menu li 的index
							//console.info('index:'+index);
							$( "#tabs" ).tabs('option','active',index);
							//实现bootstrap table页面刷新
							$('#table_user_list').bootstrapTable('refresh');
					},
					error:function(data){
						alert("数据错误,请联系管理员");
					}
			});
		});
	}
	// 3modal_user_edit打开编辑选项款-
	handle_modal_user_edit=function(){
		$('#tbs_user_list_edit-1').click(function(){
			//1 获取选择的id值
			var ids=gtSelect('table_user_list');
			if(ids.length==0 || ids.length>1){
	    		alert("只能选择一项!");
	    		return false;
	    	}
			//2 填充页面
			$.ajax({
				type:'get',
				url:'/user/getUserByid?userid='+ids,
				success:function(data){
					//console.info(data.user);
					$('#modal_user_edit').find('#id').val(data.user.id);
					$('#modal_user_edit').find('#name').val(data.user.name);
					$('#modal_user_edit').find('#status').val(data.user.status);
					$('#modal_user_edit').find('#pwd').val(data.user.pwd);
				}
			});
			//3 打开页面
			$('#modal_user_edit').modal('toggle');
		});
	}
	//4 编辑后保存
	handle_mb_user_edit=function(){
		$("#mb_user_edit-1").click(function(){
			var id='tabs-menu'+getTabID(this.id);//tabs-menu-1 用于提交后依旧是当前页面
			$.ajax({
				type:'post',
				dataType:'html',
				url:'/user/update_User',
				data:$('#mf_user_edit').serialize(),
				success:function(data){//alert(data);
						// 隐藏modal
						$('#modal_user_edit').modal('hide');
						//ajax成功后刷新
						var index=$("#tabs").find(id).index(); //获取menu li 的index
						//console.info('index:'+index);
						$( "#tabs" ).tabs('option','active',index);
						//实现bootstrap table页面刷新
						$('#table_user_list').bootstrapTable('refresh');
				},
				error:function(data){
					alert("数据错误,请联系管理员");
				}
			});
		});
	}
	//5 tbs_user_list_del 删除
	handle_tbs_user_list_del=function(){
		$('#tbs_user_list_del-1').click(function(){
			var id='tabs-menu'+getTabID(this.id);//tabs-menu-1 用于提交后依旧是当前页面
			var ids=gtSelect('table_user_list');
			if(ids.length==0){
				alert("选择项为空,请重新选择");
				return false;
			}
			$.ajax({
				type:'get',
				url:'/user/deleteUserByids?ids='+ids,
				success:function(data){
					//ajax成功后刷新
					var index=$("#tabs").find(id).index(); //获取menu li 的index
					//console.info('index:'+index);
					$( "#tabs" ).tabs('option','active',index);
					//实现bootstrap table页面刷新
					$('#table_user_list').bootstrapTable('refresh');
				}
			});
		});
	}
	/*****************************工具类********************************************/
	/**
	 * 获取页面按钮的id,为刷新服务
	 */
	function  getTabID(obj){
		var index=obj.lastIndexOf('\-');
		obj=obj.substring(index+1,obj.length)
		return obj;
	}
	//页面选择
	function gtSelect(selects){//多选
	    var rows = $("#"+selects).bootstrapTable('getSelections');
	    var ids=[];
	    var len=rows.length;
	    for(var i=0;i<len;i++){
	    	ids.push(rows[i].id);
	    }
	   // alert(ids);
	    return ids;
	}
</script>
</head>
<body>
<div class="liucg_header">

    <!--01导航栏-->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="navbar-header">
                        <a href="#" class="navbar-brand logo"><img src="../../img/logo.png" alt="统一门户" style="height: 30px;"></a>
                        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="navbar-brand">
                           业务中心
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="collapse navbar-collapse navbar-responsive-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="active">
                                <a href="#"><span class="glyphicon glyphicon-home"></span> 门户</a>
                            </li>
                            <li><a href="#"><span class="glyphicon glyphicon-tasks"></span> 数据中心</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-fire"></span> 应用中心</a></li>
                            <li class="dropdown">
                                <a id="dLabel" role="button" data-toggle="dropdown" data-target="#"
                                   href="javascript:;">
                                    <span class="glyphicon glyphicon-bed"></span> 项目 <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                                    <li><a href="javascript:;">清洁能源</a></li>
                                    <li class="divider"></li>
                                    <li class="dropdown-submenu">
                                        <a tabindex="-1" href="javascript:;">管道公司</a>
                                        <ul class="dropdown-menu">
                                            <li><a tabindex="-1" href="javascript;">管托</a></li>
                                            <li class="divider"></li>
                                            <li><a tabindex="-1" href="javascript;">管道</a></li>
                                            <li class="divider"></li>
                                            <li class="dropdown-submenu">
                                                <a href="#">管线</a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="javascript:;">华中</a></li>
                                                    <li><a href="javascript:;">华东</a></li>
                                                    <li><a href="javascript:;">华南</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="divider"></li>
                                    <li class="dropdown-submenu">
                                        <a tabindex="-1" href="javascript:;">压力容器</a>
                                        <ul class="dropdown-menu">
                                            <li><a tabindex="-1" href="javascript:;">江宁</a></li>
                                            <li class="divider"></li>
                                            <li class="dropdown-submenu">
                                                <a href="javascript:;">江北</a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="javascript:;">周云峰</a></li>
                                                    <li><a href="javascript:;">杨中秋</a></li>
                                                    <li><a href="javascript:;">周陈波</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li style="width: 30%;">
                                <div class="input-group" style="margin-top: 10px;" >
                                    <input type="text" class="form-control" placeholder="输入产品关键字" aria-describedby="basic-addon" >
                                    <span class="input-group-addon" id="basic-addon1">
							<span class='glyphicon glyphicon-search'></span>
						</span>
                                </div>
                            </li>

                            <li class="dropdown">
                                <a href="##" data-toggle="dropdown" class="dropdown-toggle"><span class="glyphicon glyphicon-apple">更多</span> <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="##">退出</a></li>
                                    <li><a href="##">重置密码</a></li>
                                    <li class="disabled"><a href="##">进入后台</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--/01导航栏-->
</div>
<!--/header-->
<!--center-->
<div class="liucg_center" id="body" >
	<!-- 侧边栏 -->
    <div class="liucg_sidebar">
        <ul class="sidebar-menu" id="menu">
            <li class="sidebar-header" style="padding-right: 5px;">系统管理
                <span class="label label-primary pull-right" id="bnt">
                    <i class="fa fa-exchange"></i>
                </span>
            </li>
			
            <li>
                <a href="#">
                    <i class="fa fa-cog"></i> <span class="menu_names">用户角色</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="sidebar-submenu">
                    <li id="menu1" class="menu_iter"><a href="#" class="menu_name"><i class="fa fa-user"></i> 用户管理</a></li>
                    <li id="menu2" class="menu_iter"><a href="#" class="menu_name"><i class="fa fa-group"></i>角色管理</a></li>
                </ul>
            </li>
              <li>
                <a href="#">
                    <i class="fa fa-leaf"></i> <span class="menu_names">权限设置</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="sidebar-submenu">
                    <li id="menu3" class="menu_iter"><a href="#" class="menu_name"><i class="fa fa-fire"></i> 菜单管理</a></li>
                    <li id="menu4" class="menu_iter"><a href="#" class="menu_name"><i class="fa fa-key"></i>菜单权限</a></li>
               		<li id="menu4" class="menu_iter"><a href="#" class="menu_name"><i class="fa fa-twitter"></i>角色菜单</a></li>
                </ul>
            </li>
             <li>
                <a href="#">
                    <i class="fa fa-share"></i> <span>基础设置</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="sidebar-submenu">
                    <li><a href="#"><i class="fa fa-tag"></i> 日历设置</a></li>
                    <li>
                        <a href="#"><i class="fa fa-bolt"></i> 编码设置 <i class="fa fa-angle-left pull-right"></i></a>
                        <ul class="sidebar-submenu">
                            <li><a href="#"><i class="fa fa-font"></i> 项目编码</a></li>
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i> 采购编码 <i class="fa fa-angle-left pull-right"></i></a>
                                <ul class="sidebar-submenu">
                                    <li><a href="#"><i class="fa fa-book"></i>物资编码</a></li>
                                    <li><a href="#"><i class="fa fa-beer"></i>供商编码</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#"><i class="fa fa-cloud"></i>其它设置</a></li>
                </ul>
            </li>
            <li><a href="../../documentation/index.html"><i class="fa fa-book"></i> <span>其它设置</span></a></li>
            <li class="sidebar-header">功能管理</li>
            <li><a href="#"><i class="fa fa-tint"></i> <span>项目管理</span></a></li>
            <li><a href="#"><i class="fa fa-fighter-jet"></i> <span>费用管理</span></a></li>
            <li><a href="#"><i class="fa fa-wrench"></i> <span>设计管理</span></a></li>
            <li><a href="#"><i class="fa fa-link"></i> <span>安全管理</span></a></li>
        </ul>

    </div>
    <!-- /侧边栏 -->
    <!-- 主页面 -->
    <div class="liucg_main">
        <div id="tabs" style="height: 100%;width: 100%;">
            <ul >
                <li><a href="#tab1">首页</a> </li>
            </ul>
            <div id="tab1" style="height: 100%;width: 100%;">
            </div>
        </div>
    </div>
    <!-- 主页面中的内容,通过js加载 -->
    <div id="tab_content" style="display: none;">
    	<!-- 用户管理 -->
        <div class="tabs-menu1" style="height: 100%;width: 100%;background-color: #a5b2cb">
        	 	<table id="table_user_list" class="table table-striped table-bordered table-hover"></table>
        </div>
       <!-- 角色管理 -->
        <div class="tabs-menu2" style="height: 100%;width: 100%;background-color: #a5b2cb">
        		<table id="table_user_list" class="table table-striped table-bordered table-hover"></table>
        </div>
         <div class="tabs-menu3" style="height: 100%;width: 100%;background-color: #a5b2cb">
        	    <iframe src="http://www.hao123.com" width="100%" height="100%" frameborder="0" scrolling="no">   </iframe>
        </div>
        <div class="tabs-menu4" style="height: 100%;width: 100%;background-color: #a5b2cb">
        	    <iframe src="http://www.baidu.com" width="100%" height="100%" frameborder="0" scrolling="no">   </iframe>
        </div>
        <div class="tabs-menu_5" style="height: 100%;width: 100%;background-color: greenyellow">333</div>
    </div>
      <!-- /主页面中的内容,通过js加载 -->
    <!-- /主页面 -->
</div>
<!--/center-->
<!--foot-->
<div class="liucg_foot"></div>
<!--/foot-->
<!-- 其它代码-表格工具条 -->
<div id="tbs_user_list" class="btn-group">
    <button type="button" id="tbs_user_list_add-1" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span>新增</button>
    <button type="button" id="tbs_user_list_edit-1" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span>编辑</button>
    <button type="button" id="tbs_user_list_del-1" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span>删除</button>
</div>
<!-- 弹出框 ajax增加-->
<div class="modal" id="modal_user_add">
    <div class="modal-dialog">
        <div class="modal-content">
	        <form  id='mf_user_add'>
	            <div class="modal-header">
	                <button class="close" type="button" data-dismiss="modal">
	                    <span>&times;</span>
	                </button>
	                <h4 class="modal-title">编辑</h4>
	            </div>
	            <div class="modal-body">
	            	<div class="row form-group">
		                <label class="control-label col-sm-2" for="code">姓名</label>
		                <div class="col-sm-6">
		                    <input class="form-control" name="name" id="name" type="text"  placeholder="姓名">
		                </div>
		            </div>
		            <div class="row form-group">
		                <label class="control-label col-sm-2" for="code">状态</label>
		                <div class="col-sm-6">
		                	<div class="form-group">
					                <select class="form-control" id="status" name="status">
					                    <option id="启用">启用</option>
					                    <option value="锁定">锁定</option>
					                </select>
					        </div>
		                </div>
		            </div>
	            	
	            </div>
	            <div class="modal-footer">
	                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
	                <button type="button" class="btn btn-primary" id="mb_user_add-1">保存</button>
	            </div>
	        </form>
        </div>
    </div>
</div>
<!-- /弹出框 ajax增加-->
<!-- 弹出框 ajax编辑-->
<div class="modal" id="modal_user_edit">
    <div class="modal-dialog">
        <div class="modal-content">
	        <form  id='mf_user_edit'>
	            <div class="modal-header">
	                <button class="close" type="button" data-dismiss="modal">
	                    <span>&times;</span>
	                </button>
	                <h4 class="modal-title">编辑</h4>
	            </div>
	            <div class="modal-body">
	            	<div class="row form-group">
		                <label class="control-label col-sm-2" for="code">姓名</label>
		                <div class="col-sm-6">
		                    <input type="hidden" name='id' id='id' value="">
		                    <input class="form-control" name="name" id="name" type="text"  placeholder="姓名">
		                </div>
		            </div>
		            <div class="row form-group">
		                <label class="control-label col-sm-2" for="code">密码</label>
		                <div class="col-sm-6">
		                   <input class="form-control" name="pwd" id="pwd" type="text"  placeholder="密码">
		                </div>
		            </div>
		            <div class="row form-group">
		                <label class="control-label col-sm-2" for="code">状态</label>
		                <div class="col-sm-6">
		                	<div class="form-group">
					                <select class="form-control" id="status" name="status">
					                    <option id="启用">启用</option>
					                    <option value="锁定">锁定</option>
					                </select>
					        </div>
		                </div>
		            </div>
	            	
	            </div>
	            <div class="modal-footer">
	                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
	                <button type="button" class="btn btn-primary" id="mb_user_edit-1">保存</button>
	            </div>
	        </form>
        </div>
    </div>
</div>
<!-- /弹出编辑款 -->
</body>

</html>